<h1> Welcome <%= @user.full_name %> - Age: <%= @user.age %> - Phone number: <%= @user.phone %></h1>
<br />

<h2>What would Jesus do ?</h2>
<%= link_to 'View Appointments', user_appointments_path(@user) %>
<br />
<%= link_to 'Edit User', edit_user_path(@user) %>
<br />
<%= link_to 'Delete User', @user, method: :delete %>